.navbar a.navbar-brand {
    font-size: xx-large;
}

.navbar-brand .navbar-nav .nav-item {
    color: #fff;
}
a{
    text-decoration: none;
}

#banner .text_block .text_area a {
    background-color: black;
    color: #fff;
}
#banner .text_block .text_area a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #141215;
    width: 167px;
    height: 61px;
}
#banner .text_block .text_area a:hover{
    color: #fff;
    transform: scale(0.4s);
}
#banner .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 100%;
}
#banner .owl-nav button{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f07719;
    background-image: url(../img/left-arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    font-size: 30px;
    transition: 0.3s all;
}
#banner .owl-nav button span{
    display: none;
}
#banner .owl-nav button:hover{
    background-color: #fff;
    color: #f07719;
    
}
#banner .owl-nav button.owl-prev{
    left: 24px;
}
#banner .owl-nav button.owl-next{
    right: 24px;
    transform: rotate(180deg);
}
#banner .owl-nav button.owl-prev:hover{
    transform: rotate(-360deg);
}
#banner .owl-nav button.owl-next:hover{
    transform: rotate(530deg);
}
body {
    font-family: 'Montserrat', sans-serif;
}

#second {
    background-color: black;
}

.my-card {
    padding: 32px;
    text-align: center;
    color: #fff;
    margin: 10px auto;
    display: block;
}

.card_one {
    background: #ff6600;
}

.card_two {
    background: #ff6600;
}

#second .my-card img {
    width: auto;
    height: 70px;
    margin-bottom: 24px;
}

.cstm_container {
    width: 100%;
}

.cstm_row {
    display: flex;
    flex-wrap: wrap;
}
.cstm_col_25{
    flex: 0 0 25%;
    max-width: 25%;
}
.cstm_col_50{
    flex: 0 0 50%;
    max-width: 50%;
}
#second .cstm_col_25{
    padding: 0 8px;
}
#second .cstm_col_25:first-child{
    padding: 0 8px 0 0;
}
#second .cstm_col_25:last-child{
    padding: 0 0 0 8px;
}
.cstm_col {
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
    padding: 11px;
}
#other .cstm_col_50{
    padding: 0 8px;
}
#other .cstm_col_25:first-child{
    padding: 0 8px 0 0;
}
#other .cstm_col_25:last-child{
    padding: 0 0 0 8px;
}

.cstm_col:first-child {
    padding-left: 0 !important;
}

.cstm_col:last-child {
    padding-right: 0 !important;
}

#heroArea {
    position: relative;
}

#heroArea nav {
    position: absolute;
    width: 100%;
    z-index: 999;
}

#heroArea #banner {
    height: 875px;
}

#heroArea #banner .slide_item {
    position: relative;
}

#heroArea #banner .slide_item .img_block {
    position: relative;
    width: 100%;
    height: 875px;
}

#heroArea #banner .slide_item .img_block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#heroArea #banner .slide_item .text_block {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#heroArea #banner .slide_item .text_block .text_area {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#heroArea #banner .slide_item .text_block .text_area .slider_txts {
    text-align: center;
    color: #fff;
}

#heroArea #banner .slide_item .text_block .text_area .slider_txts h1 {
    font-weight: 900;
    font-size: 105px;
    text-transform: uppercase;
}

#other {
    background-color: black;
}

#products {
    background-color: black;
    padding: 5rem 0;
}

#products h1 {
    color: #fff;
}

.other_categories .my-card {
    position: relative;
}

.other_categories .my-card .img_block {
    overflow: hidden;
    height: 475px;
}

.other_categories .my-card .img_block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 5s all;
}

.other_categories .cstm_col {
    flex: 0 0 25%;
    max-width: 25%;
}

.other_categories .cstm_col:nth-child(2) {
    flex: 0 0 50%;
    max-width: 50%;
}

.other_categories .my-card {
    padding: 0;
}

.other_categories .my-card .txt_block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.other_categories .my-card .txt_block .txts {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cstm_container.other_categories {
    margin-top: -20px;
}

.other_categories .my-card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#other h1{
    color: #fff;
    text-align: center;
}
.ot_product{
    position: relative;
    height: 450px;
}
.ot_prod_card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.ot_product .overlay_txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: #fff;
}
.ot_product .overlay_txt h4{
    text-align: center;
    color: #fff;
}
.ot_product.midSec .overlay_txt{
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.ot_product.midSec ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    color: #fff;
    margin: 40px 0;
    list-style-position: inside;
    padding-left: 8px;
}
.ot_product.midSec ul li{
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0px 0px 16px;
}
.ot_product.midSec ul li a{
    color: #fff;
}
.ot_prod_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all;
}
#other .overlay_txt {
    padding: 6rem;
}
#anime {
    background-color: black;
    padding: 5rem 0;
}

#anime span {
    color: #fff;
}
#anime h1{
    color: #fff;
}

#anime .my-card:hover .img_block img {
    padding: 0;
    transform: scale(1.25);
}
#anime .my-card:hover .img_block img {
    transition-duration: 0.5s;
}
#anime .img_block{
    height: 475px;
    overflow: hidden;
    margin-bottom: 16px;
}
#anime .img_block img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s all;
}

.cta_section {
    background-color: black;
    /* padding: 6rem 0; */
    position: relative;
}

.cta_section .my-card .img_block img {
    padding-left: 0;
}
.cta_section .bg_area img{
    transition-duration: 1.25s;
}

#arrival {
    background-color: black;
    position: relative;
    padding: 50px 0;
}
#arrival .prod_tag span{
    display: block;
    color: #fff;
}
#arrival .prod_img_block {

}

/* #about {
    background-color: black;
} */


.popular_prod .product_price {
    position: relative;
    margin-top: 15px;
}

.bg_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg_area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta_section {
    height: 675px;
}

.cta_section .txt_block {
    position: relative;
    height: 100%;
}


.cta_section .txt_block .txts {
    display: flex;
    height: 100%;
    max-width: 100%;
    align-items: center;
    width: 570px;
    text-align: center;
}

#arrival .right_panel {
    position: relative;
}

#arrival .right_panel .prod_img_block {
    height: 100%;
    width: 570px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

#arrival .prod_img_block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#lookbook {
    position: relative;
    height: 740px;
    background-color: #141115;
}

#lookbook img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.markers {
    position: relative;
    height: 100%;
}

.markers .pointer {
    position: absolute;
    width: 20px;
    z-index: 1;
}

.markers .pointer {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background: rgb(255, 255, 255, 0.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.markers .pointer span {
    background: #f07719;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
}
.markers .pointer span i{
    color: #fff;
    font-size: 14px;
}

.markers .pointer:first-child {
    left: 23%;
    top: 34%;
}

.markers .pointer:nth-child(2) {
    right: 31%;
    top: 21%;
}

.markers .pointer:nth-child(3) {
    left: 29%;
    bottom: 15%;
}

.markers .pointer:nth-child(4) {
    right: 25%;
    bottom: 25%;
}

.markers .pointer:nth-child(5) {
    left: 6%;
    bottom: 35%;
}

.markers .pointer:last-child {
    right: 9%;
    bottom: 58%;
}
.cta_section:hover .bg_area img {
    transform: scale(1.25);

}
.cta_section a {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #141215;
    width: 167px;
    height: 61px;
}
.cta_section h1 {
    color: #fff;
    padding: 1rem 0;
}
.cta_section h5 {
    color: #fff;
    padding: 1rem 0;
}
.cta_section .txt_blk a{
    width: 176px;
    height: 61px;
}

#testimonials .bg_area img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#testimonials .bg_area{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#testimonials {
    position: relative;
    border-top: 1px solid #262626;
}

#testimonials .txts .txt_blk{
    position: relative;
    padding: 5rem 0;
    color: #fff;
}
#testimonials .txts .txt_blk h2{
    padding: 4rem 0;
}
#testimonials .item .my-box h5{
    color: #f07719;
}
#testimonials .item .my-box{
    border: 1px dashed #353136;
    padding: 3rem;
}
#testimonials .owl-carousel .owl-nav button span{
    display: none;
}
#testimonials .owl-carousel .owl-nav button{
    width: 35px;
    height: 30px;
    border: 1px solid #f07719;
    border-radius: 0;
    background-color: transparent;
}
#testimonials .owl-carousel .owl-nav button i{
    color: #f07719;
}
footer{
    background-color: black;
    padding: 5rem 0;
}
footer h5{
    color: #fff;
}
footer p{
    color: #353136;
    width: 315px;
    max-width: 100%;
}
footer ul {
    list-style-type: none;
    margin-left: 0 !important;
    padding-left: 0;
}
.cstm_nav ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
}
.nav_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_row .mid_menu ul li{
    margin: 0 16px;
}
.nav_row .mid_menu ul li a{
    color: #fff;
    font-weight: 600;
    transition: 0.3s all;
}
.nav_row .mid_menu ul li a:hover{
    color: #ff6600;
}
.right_icon ul li{
    margin: 0 16px; 
}
.right_icon ul li a{
    color: #ff6600;
}
.right_icon ul li:last-child{
    margin: 0 0 0 16px;
}
.cstm_nav {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 16px 0;
}
.toggle_switch i{
    color: #fff;
}
.toggle_switch{
    display: none;
}
footer h5{
    margin-top: 16px;
    margin-bottom: 24px;
}
footer li a{
    color: #4f4a3f;
}
footer ul li{
    margin-bottom: 16px;
}


